<!--/*

  Rebus Product Listing Page Header

*/-->

<header class="row ">
      <nav class="b-rd-0 row m-0 nav-ff p-r">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left col-xs-1" data-toggle="collapse" data-target="#navbar-32">
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
		 <!--/* Logo */-->

            <sly data-sly-resource="${ @path='logo',resourceType='rebus-demo/components/structure/logo'}"/>

         <!--/* End of Logo */-->


          <button type="button" class="navbar-toggle subhead-toggle pull-right col-xs-1" data-toggle="collapse" data-target="#subhead-32">
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
        </div>
        <div class="collapse navbar-collapse nav-options col-md-8" id="navbar-32">
          <ul class="nav navbar-nav navbar-3uk">
            <li class="active p-r">
              <a href="#" class="opt" tabindex="1">Shop</a>
            </li>
            <li>
              <a href="#" class="opt" tabindex="2">My Three</a>
            </li>
            <li>
              <a href="#" class="opt" tabindex="3">Help</a>
            </li>
            <li>
              <a href="#" class="opt" tabindex="4">About Three</a>
            </li>

          </ul>
        </div>
        <div class="hidden-md hidden-lg searchIcon-ipad">
          <form class="form-inline search-box-full" role="form">
            <div class="search-block">
              <span class="glyphicon glyphicon-search goto-search"></span>
            </div>
          </form>
        </div>
        <div class="collapse navbar-collapse subhead-32" tabindex="5" id="subhead-32">
          <ul class="nav navbar-nav navbar-right nav-options subnav-3uk">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle opt" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal
														<span class="f-16 glyphicon glyphicon-menu-down"></span>
													</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <a href="#">Order</a>
                </li>
                <li>
                  <a href="#">Wishlist</a>
                </li>
              </ul>
            </li>
            <li class="hidden-xs hidden-sm">
              <form class="form-inline search-box-full" role="form">
                <div class="search-block">
                  <span class="glyphicon glyphicon-search goto-search"></span>
                </div>
              </form>
            </li>
            <li>
              <a href="#" class="opt">Login</a>
            </li>
            <li>
              <a href="#" class="opt">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-8 section-search ">
          <div class="col-xs-8 pull-left">
            <span class="glyphicon glyphicon-search  pull-left hidden-xs hidden-sm"></span>
            <input type="text" placeholder="Search For" class="search-full-txt">
          </div>
          <div class="col-xs-4 text-right pull-right">
            <label class="close-search">X</label>
          </div>
        </div>
      </nav>
  </header>