<!--/*

  Add reference to clientlibs and any other css/js files to be included in the header, in this file.

*/-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='rebus-demo.global'}"/>