/*Basket SIM*/
.container-fluid{
	overflow:hidden
	}
	
.secrchTop{
	border: none;
	}
.m-b-20{
	margin-bottom:20px;
	}
.m-t-5px{
	margin-top:2px;
}
.m-t-15px{
	margin-top:25px;
}
.font-nrml{
	font-weight:normal !important
}

.form-control-feedback{
	color:#000!important;
	right: 97%; 
	}
	
.m-t-8px{
	margin-top:-8px;
	
}
.check-wdt{
	width: 1364px;
    margin-left: -30px;
	}
.basket-heading{
	height:185px;
	margin-top: 64px;
	}
	
.basket-txt{
	left:42%;
	position:absolute;
	}
	
	
.basket-txt{
	padding-top:41px;
	text-align: center; 
	}
	
.line-one{
	font-size:28px;
	height:25px;
	}
	
.line-two{
	font-size:45px;
	font-weight: bold;
	}
	
.line-three{
	font-size:40px;
	font-weight:900;
	position: absolute;
	left:33%;
	top:61%;
	}
	
.accessories-style{
	border:1px solid #d4d4d4;
	height: 57px;
	}
	
.upfront-style{
	background:#f1f1f1;
	color: #00857b;
	font-size:20px;
	font-weight: bold;
	height:55px;
	}

	
.month-style{
	color: #000;
	font-weight: bold;
	font-size: 19px;
	}
	
.item-info{
	border: 1px solid #d4d4d4;
	border-top: none;
	}
	
.item-info-txt{
	padding-top: 25px;
	}
	
.txt1{
	font-size: 22px;
	height: 20px;
	}
	
.txt2{
	height: 33px;
	}
	
.txt2 h5{
	font-size: 30px;
	}
	
.txt3 h5{
	font-size: 30px;
	}
.m-r-1em{
	margin-right:-1em;
 }
.wish-list{
	height: 175px;
	}
	
.item-qty{
	border: 1px solid;
	height: 45px;
	padding: 13px 20px;
	width: 42px;
	}
	
.item-wish{
	color: #00857b;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	}
	
.item-wish-top, .item-wish-top a{
	color: #00857b !important;
	font-size: smaller;
	font-weight: bold;
	height: 68px;
	padding-top: 16px;
	text-decoration: underline;
	}
	
.item-remove{
	color: #00857b;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	}
	
.item-remove-top a{
	color: #00857b !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	width: 40% !important;
	}
	
.item-qty-top{
	padding-top: 30px;
	}
	
.upfront-cost{
	background: #f1f1f1;
	height: 169px;
	padding-top: 57px;
	height: 175px;
	}

.new-cost{
	color: #00857b;
	font-size: 44px;
	font-weight: bold; 
	margin-top: -14px;
	}
	
.new-cost small{
	color: #00857b;
	font-size: 22px;
	font-weight: bold;
	}

.monthly-cost{
	font-size: 45px;
	font-weight: bold; 
	margin-top:-14px;
	padding-top:0px;
	}
	
.deprecated-cost{
	padding-top: 37px;
	}
	
.deprecated-cost small{
	color: #949494;
	font-size: 18px;
	font-weight: bold;
	}
	
.deprecated-cost strike{
	color: #949494;
	font-size: 33px;
	font-weight: bold;
	}
	
.extra-cost{
	padding-top: 37px;
	}
	
.extra-cost small{
	color: #949494;
	font-size: 26px;
	font-weight: bold;
	}
	
.extra-cost strike{
	color: #949494;
	font-size: 33px;
	font-weight: bold;
	}

	
.head1{
	font-size: 35px;   
	font-weight: 100;
	height: 3px; 
	}

.head2{
	height: 26px;
	}
	
.sugst-block{
	border-top: none;
	}
.opt-item h5{
	
font-size:22px;
}
a.device-img-opt {
    min-height: 14em;
    display: block;
}	
.pl115{
	padding-left: 96px;
	}
	
.pkg-upper-block{
	border: 1px solid #d4d4d4; 
	height: 50px;
	}
	
.pkg-lower-block{
	border: 1px solid #d4d4d4;
	border-top: none;	
	height: 200px;
	margin-bottom: 30px;
	}
	
.delivery-upper-block{
	border: 1px solid #d4d4d4; 
	height: 57px;
	margin-top: 30px;
	}
	
.delivery-lower-block{
	border: 1px solid #d4d4d4;
	border-top: none
	}
	
.delivery-head{
	padding: 5px 15px;
	}
	
.extra-info{
	font-size: 15px;
	}
	
.delvry-info1, .delvry-info2{
	display: inline-block;
	}
	
.delvry-info1{
	height: 13px;
	}
	
.delvry-info2{
	height: 47px;
	}

.discnt{
	margin-bottom: 20px;
	margin-top: 20px;
	}
	
.disc-btn{
	background: #00857b;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: lighter;
	padding: 6px 30px;	
	}
	
.disc-btn-block{
	padding-left: 43px;
	padding-top: 11px;
	}
	
.disc-code{
	border: none;
	border-bottom: 2px solid #323232;
	box-shadow:none;
	width: 330px;
	}
	
.disc-code:focus{
	outline: none;
	}
	
.upfront-cost-delvry{
	background: #f1f1f1;
	padding-top: 29px;
	padding-right: 39px;
	}
	
.new-cost-delvry {
    color: #00857b;
    font-weight: bold;
    font-size: 38px;
    min-height: 4.2em;
	padding:21px 30px;
}
.discnt-txt{
	color: #949494;
	font-size: 71%;
	font-weight: bold;
	}
.one, .two, .three{
	border: 1px solid red;
	}
	
.b-d4{
	border: 1px solid #d4d4d4;
	height:287px;
	}
	
.access-head, .upfront-head, .monthly-head{
	height: 70px;
	}
	
.access-body, .upfront-body, .monthly-body{
	min-height: 219px;
	padding-left: 58px;
	padding-top: 48px;
	}
	
.access-body{
	padding: 22px 15px;
	}
	
.upfront-block h5{
	color: #00857b;
	}
	
.upfront{
	border: 1px solid red;
	height: 70px;
	}
	
.monthly{
	border: 1px solid red;
	height: 70px;
	}
	
.upfront-block{
	background: #f1f1f1;
	}
	
.hrz-bar{
	border-bottom: 1px solid #ccc;
	}
	
.hrz-bar-top{
	border-top: 1px solid #ccc;
	}
	
.exp-info{
	color: #007bc3;
	font-size: 15px;   
	height: 81px;
	padding: 28px 0px
	}
	
.exp-info label{
	font-weight: 100;
	}
	
.continue{
	background: #323232;
	height: 84px;    
	margin: 1px;
	}
	
.shop-continue{
	border-right: 1px solid #fff;
	height:84px;
	padding-top: 23px; 
	/*padding-left: 26px;*/
	}
	
.pay-today{
	border-right: 1px solid #fff;
	color: white;
	height:84px;
	}
	
.per-month{
	color: white;
	height:84px;
	}
	
.cntnu-btn{
	background: #949494;
	border: none;
	color: white;
	font-size: 15px;
	margin-right: 14px;
	padding: 12px 35px;
	}
	
.checkout-btn{
	background: #00857b;
	border: none;
	color: white;
	font-size: 15px;
	padding: 12px 41px;
	}
	
.pay-lbl{ 
		font-weight: 100;
		margin-bottom: 0px;
		margin-top: 10px;
		margin-left: 16px;
		}
		
.dec-value{
	color: white;
	font-size: 20px;
	font-weight: bold;
	}
	
.dec-val{
	font-size: 19px;
	}
	
.pay-amt{
	margin-top: -11px;
	}
	
.left-side{
	background: #f1f1f1;
	height: 250px;
	padding-top: 20px;
	padding-left: 58px;
	}
	
.right-side{
	background: #f1f1f1;
	height: 250px;
	}
	
.chk-list{
	font-size: 14px;
	font-weight: bold;
	}
	
.chk-list-head{
	font-size: 19px;
	height: 25px;
	margin-bottom: -25px;
	}
	
.chk-list-head strong{
	font-size: 24px;
	}
	
.chk-list-head h5{
	margin-bottom: -14px;
	font-size: 33px;
	}
	
.first-list{
	margin-top: 79px;
	}
	
.list{
	font-size: 15px;
	padding-bottom:4px;
	padding-left: 0px;
	}
	
.bill-snippet{
	padding-right: 28px;
	padding-top: 56px;
	width: 100%;
	}
	
.numberCircle{
	background: #fff;
	border-radius: 50%;
	border: 3px solid #00857b;
	behavior: url(PIE.htc);
	color: #00857b;
	display: inline-block;
	font: 18px Arial, sans-serif;
	font-weight: bold;
	height: 31px;
	padding: 2px;
	text-align: center;
	width: 29px;
	}
	
.list-lbl{ 
   margin-left: 14px;
   }
   
.heart-img1{
	color:#00857b;
	font-size:22px;
	padding: 0px 10px 0px 0px;
	}
		
.pkg-main-block{
	border: 1px solid #ccc;
	}
	
.mob-image{
	padding: 48px 0px 0px 30px;
	}
	
.rmv-pkg{
	color: #00857b;
	font-size: smaller;
	font-weight: 600;
	padding: 15px 11px;
	text-decoration: underline;
	}
	
.add-pkg{
	color: #00857b;
	font-size: smaller;
	font-weight: 600;	
	padding: 15px 11px;
	text-decoration: underline;
	}
	
.add-rmv{
	height: 70px;
	border-bottom: 1px solid #ccc;
	}
	
.mob-info-sub{
	top: 14%;
	width: 100%;
	}
	
.brand-name{
	font-size: 25px;
	}
	
.btn-dropdown-white-uk, .btn-dropdown-white-uk:hover{ 
	border-bottom: 1px solid #000;
	color: #323232;
	}
	
.btn{
	font-weight: bold;
	}
	
.pkg-msg{
	border-bottom: 1px solid #ccc;
	height: 60px;
	}
	
.pkg-msg h4{
	    padding: 7px 49px 0px 0px;
		}
		
.glyphicon-star, .glyphicon-star-empty{
	cursor:pointer
	}
	
.glyphicon-star:hover, .glyphicon-star-empty:hover{
	color:gold
	}
	
.upfront-pkg-body{
	min-height:393px;
	padding-left:58px;
	padding-top:48px;
	}
	
.rem-chng-add{
	margin-top: 21px;
	}
	
.all-plans{
		margin-top: 70px;
		}
.sim-plan{margin-top:10px}		
.sim-ext .btn{float:right;margin-right:10px}	
.sim-ext .mob-view{font-size: 30px;
    padding-top: 20px;}	
.marg-btm-0{
	margin-bottom: 0px;
	}
	
.decimal-val {
    font-weight: bold;
	}
	
.m-t-15{
	margin-top:15px
	}
	
.circle { 
   width: 12px;
   height: 12px;
   background: #00857b; 
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
   border-radius: 15px;
	}
	
.b-c-d4{
	background:#d4d4d4
	}
	
.item-price{
	font-size: 32px;
	font-weight: bold;
	padding: 0px -11px;
	margin: 1px -11px;
	}
.font-weight-900{
	font-weight: 900;
	}
	
.font-size32{
	font-size: 32px;
	}
	
.view-btn {
	border: none;
	background: #00857b;
	color: white;
	padding: 12px 77px;
	margin: 22px 17px;
	font-size: 20px;
}
.add-extra-row {
    margin: 4px -179px;
    font-size: 21px;
	}
	
.view-acesries{
	width: 100%;
	margin: -19px 2px;
	}

.btn-dropdown-uk .glyphicon, .rmv-drpdwn .glyphicon {
    float: right;
    font-size: 18px;
	font-weight: bolder;
	margin-right: 46px;
    margin-top: -3px;
	}
	
.rmv-drpdwn, .rmv-drpdwn:hover{
	border-bottom: none;
	color: #00857b;
	font-size: 13px;
	}
	
.btn-uk ul.drp-dwn-menu li a, .btn-uk ul.drp-dwn-menu li a:hover {
	color: #00857b;
	font-weight: bold;
	font-size: 17px;
	}
	
.drp-dwn-list a:visited{
	color: #00857b;
}
.drp-dwn-list a:link{
	color: #00857b;
	}

.rmv-drpdwn{
	border-bottom: none;
    text-decoration: underline;
    width: 88px;
   	}
	
.drp-dwn-menu{
	    min-width: 130px;
		}
		
.drp-dwn-menu li a{
	    min-width: 7.65em !important;
		}
		
.extra-body{
	height: 126px;
	}
	
.extra-mont-cost{
	height: 123px;
    padding-top: 28px;
	}
	
.fl-home-cost{
	height: 123px;
	}
	
.home-extra-cost + div{
	font-weight: bold;
    font-size: 37px;
    margin-bottom: -21px;
	}
	
.home-extra-cost + div + div{
	    font-size: 20px;
		}
.extra-mont-cost label{
	font-size: 45px;
	}
.home-extra-cost{
	color: #949494;
   	font-size: 30px;
    font-weight: bold;
    margin-bottom: -13px;
	padding-top: 7px;
	}

.dmg-cover {
    font-size: 37px;
	font-weight: bold;
    margin-bottom: -18px;
    margin-top: 14px;
	}
	
.dmg-cover + div{
	font-size: 20px;
	}
	
.p-t-10{
	padding-top: 10px;
	}
	
.p-r-0{
	padding-right: 0px;
	}
	
.p-r-13{
	padding-right: 13px;
	}
	
.p-r-30{
	padding-right: 30px;
	}
	
.p-t-50{
	 padding-top: 50px !important;
	}
	
.min-h-150{
	min-height: 151px;
	}
	
.min-h-128{
	min-height: 128px;
	}
	
.hrz-bar-btm{
	border-bottom: 1px solid #ccc;
	}
	
.m-b-0{
	font-weight: normal;
	margin-bottom: 0px !important;
	}
	
h5.device {
    font-weight: normal;
	font-size: 18px;
	}
	
.reviews {
    font-size: 18px;
	margin: 1em auto;
	text-align: center;
	}
	
.reviews>span{
	color: #008979;
	}
	
.btn-nrml{
	font-weight: normal;
	}
.button-section {
	margin-bottom: 20px;
    margin-top: 15px;	
	}

.small-seprator {
    border: 2px solid #5e5e5e;
    margin: 0 auto;
	margin-bottom: 50px;
    margin-top: 36px;
   	text-align: center;
	width: 50px;
	}
	
.btn-dropdown-white-uk .glyphicon{
				margin-top: 0px;
				}
				
.chk-out-main{
		background: #f1f1f1;
		min-height: 283px;
		}	

/*Start Wizard*/
.form-bootstrapWizard {
	margin-top: 35px;
	}
	
.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
	}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
	}
	
.bootstrapWizard li {
    display: block;
    float: left;
    padding-left: 0;
	padding-right: 0px;
	text-align: center;
	width: 20%;
	}
	
.bootstrapWizard li:before {
    border-top: 3px solid #00857b;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
	right: 1px;
	top: 18px;
    width: 100%;
    z-index: 1
	}
	
.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
	}
	
.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
	}
.bootstrapWizard li.complete .step {
    background: #00857b;
	border: 3px solid #00857b;
    padding: 1px 6px;
   	}
	
.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
	}
	
.bootstrapWizard li .step {
    background: #fff;
	border: 3px solid #00857b;
    border-radius: 50%;
    color: #00857b;
    display: inline;
    font-size: 25px;
    font-weight: 700;
    line-height: 12px;
	line-height: normal;
    padding: 6px 10px;
    position: relative;
    text-align: center;
	transition: all .1s linear 0s;
    z-index: 2;
	}
	
.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
	  background: #fff;
	  border-radius: 50%;
	  border: 3px solid #00857b;
	  color: #00857b;
	  font-size: 24px;
	  font-weight: 700;
	  padding: 6px 10px;									
	}
	
.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #00857b;
	font-weight: bold;
	}

.bootstrapWizard li .title {
	color: #00857b;
	display: block;
	font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 20px;
    word-wrap: break-word;
    z-index: 104
	}
	
.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
	}
	
.wizard-actions li {
    display: inline;
	}
	
.m-t-20{
	margin-top:20px;
	}
	
.desc{
	margin-top:40px;
	}
	
.section-package-content{
    border: 1px solid #ccc;
	margin-bottom:30px!important;  
	}
	
.section-suggestion{
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	margin-top:30px!important;	
	}
	
.section-accessories{
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	margin-bottom:5px;
	}
	
.phnimg{
    margin-top: 5em;
    padding-left: 3em;
	}
	.simImg{
    margin-top: 0;
    padding-left: 3em;
	}
	
.access-head h4{
		padding-left:15px
		}
		
.delivery-content{
	padding-bottom:1em;
	padding-top:1em;
	padding-left:2em;
	}	
	
.delivery-content h5{
	font-size:20px
	}	
	
span.d-date {
    font-size: 22px;
    font-weight: normal;
	}
.section-device-description{
	padding-bottom:40px!important
	}
	
.extra-opt {
    padding: 15px 0!important;
	}
	
.feel-sec {
    padding-top: 10px!important;
	}
	
.sugg-head h5{
	margin-left:40px;
	margin-top:20px;
	}
	
.b-b-d{
	border-bottom:1px solid #ccc;
	}
	
/*media query*/
@media (min-width:1024px) and (max-width: 1366px)  and (orientation: portrait) {

}
@media (min-width:768px) and (max-width: 1366px)  and (orientation: portrait) { /*IPAD portrait*/

.section-accessories{
	border:1px solid #ccc;
	margin-bottom:5px;
	}
.b-d4{border:1px solid #d4d4d4}

.m-b-30{
	margin-bottom:30px;
}
.section-suggestion{
	border:1px solid #ccc;
	margin-top:30px!important;	
	}


.txt2 {
    height: 24px;
	}
	
.m-t-5{
	margin-top:5px !important;
	}
	
.all-plans {
	margin-top: 0;
	}
	
.mob-image{
		margin-bottom: 20px;
	}
.b-b-d4d4{
	border:none !important;
	}
	
.m-top15{
	margin-top:0px ;
	}
	
.upfront-head h5{
		font-size: 30px;
	}
	
.up-month-cost-bordr{
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		height: 203px;
		}
		
.h-198{
	height:198px !important;
	}
	
.up-month-cost-bordr > :first-child{
		border-right: 1px solid #ccc;;
	}
.monthly-head h5{
		font-size: 30px;;
	}
	
.upfront-pkg-body {
		min-height: 140px !important;
		padding-top: 22px;
		padding-left: 104px;
	}
.monthly-body {
		height: 131px;
		padding-top: 22px;
		padding-left: 104px;
		padding-left: 114px;
	}
	
.extra-info h4{
		font-size: 33px;
		text-align: center;
		}
		
.monthly-cost {
    padding-top: 11px;
	}
	
.access-head{
	text-align: center !important;
	}
	
.access-head h4{
		font-size: 38px;
		}
		
.main {
		border: 1px solid #d4d4d4;
		height: 224px;
	}
	
.main > :nth-child(2){
		}
.sugst-block > :first-child h5{
		font-size: 26px;
		padding: 15px 0px;
		}
	
.sugst-block{
	text-align: center;
	margin-top: 195px;
    border-top: 1px solid #ccc;
	}
	
.access-body {
		padding: 6px 15px;
		}
		
.access-body{
		    min-height: 153px;
			}
.upfront-body{
		    min-height: 131px;
			}
.upfront-head h5{
		    font-size: 30px;
			}
			
.deprecated-cost > :div{
		margin-right: 20px;
		}
		
.deprecated-cost {
		padding-top: 0px;
		}
		
.head1 {
    font-size: 47px;
    font-weight: 100;
    height: 3px;
	}
	
.head2 {
	font-size: 72px;
    height: 36px;
   	}
	
.pkg-msg h4{
		font-size: 33px;
		}
		
.pkg-msg{
		padding-left: 40px
		}
		
.fn-size15{
		font-size: 15px !important;
		}
		
.product-name h4{
		font-size: 35px;
		}
		
.m-t40{
		margin-top: 40px;
		}
		
.new-cost {
		font-size: 50px;
		margin-top: 15px;
		}
		
.delivery-lower-block{
	padding:0;
	}
	
.monthly-body{
		min-height: 132px !important;
		padding-top: 11px !important;
		padding-left: 97px !important;
		}
.p-l-36{
		padding-left: 36px !important;
		}
	
.m-b-57{
		margin-bottom: 57px;
		}
	
.p-l-90{
		padding-left: 90px !important;
		}
	
.line-h-33{
		line-height: 33px;
		}
	
.line-h-27{
		line-height: 27px;
		}
		
.all-plans {
	margin-top: 3px !important;
	}
	
.p-t-15{
	padding-top: 0px !important;
	}
	
.m-t-15{
	margin-top:15px !important;
	}
	
.m-tb-lr{
		margin: -11px -46px;
	}
	
.m-top-10{
		margin-top: -10px;
	}
.txt-cntr{
		text-align: center !important;
		}
	
.m-h-60{
		min-height: 60px;
	}
	
.p-all-5-31{
		padding: 10px 31px !important;
	}
	
.fn-size-25{
		font-size: 25px;
	}
	
.m-top-17{
	
	}
.rmv-drpdwn .glyphicon {
	margin-top: -5px !important;
	}
	
.extra-mont-cost {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px !important;
		}
		
.m-h-200{
		min-height: 200px !important;
		}
		
.p-r-126{
		padding-right: 126px;
		}

	
.b-ccc{
	border:1px solid #ccc;
	border-bottom:none !important;
	}
	
.b-r-cc{
	border-right:1px solid #ccc;
	}
.heart-img {
	color:#bbbfc2;
	font-size: 30px;
	padding: 0px 10px 0px 0px;
	}
	
.p-t-15{
	}
.item-wish-top{
	padding:0px !important;
	}
	
.m-b-30{
	margin-bottom:30px !important;
	}
.b-b-cc{
	border-bottom:1px solid #ccc !important
	}
	
.basket-heading{
	margin-top:9px !important;
	}

.sugst-block {
    text-align: center;
    margin-top: 52px !important;
	}
	
.desc{
	margin-left:15px;
	margin-top:0px;
	}
	
.rmv-pkg {
	padding: 15px 4px;
	}
	
.pkg-main-block h4 {
    font-size: 30px;
    margin-bottom: 24px;
    margin-left: 15px;
	margin-top: 19px;
}
.phnimg{
	margin-bottom:50px;
	margin-top:50px;
	padding-left:30px;
	}
	
.section-package-content,.section-suggestion {
    border: 1px solid #ccc;
    margin-bottom: 40px!important;
	}
.b-t-m{
	border-top:1px solid #ccc;
	}
}

@media (min-width:1024px) and (max-width: 1366px) and (orientation: landscape) /*IPAD landscape*/
{	
.p-r-20em{
	padding-right:20em;
}
.section-accessories{
	border:1px solid #ccc;
	margin-bottom:5px;
	}
.product-name h4{
	font-size:28px;
	}
.m-h-156{
	min-height:156px;
	}
	
.section-suggestion{
	border:1px solid #ccc;
	margin-top:30px!important;	
	}
a.device-img-opt {
    min-height: 14em;
    display: block;
}
.opt-item h5{
	font-size:18px;
}


.sugg-head h5{
	font-size:18px;
	}
	
.extra-opt h5{
	font-size:16px;
	}
	
.extra-body{
	height:131px;
	}
.section-package-content,.section-suggestion {
    border: 1px solid #ccc;
    margin-bottom: 40px!important;
	}
.disc-btn-block{
		padding-left: 122px !important;
		padding-top: 15px !important;
		}
		
.b-d{
	border:none !important;
	}
.disc-btn{
		padding: 4px 24px;
		}
	
.delivery-head {
		font-size: 24px !important;
		padding: 4px 0px !important;
		}
		
.disc-btn-block{
		padding-left: 44px;
		padding-top: 16px;
		}
	
.chk-list-head h5 {
		font-size: 23px;
		margin-bottom: -14px;
		}
.list-lbl {
		margin-left: 10px;
		}
.numberCircle{
		height: 31px;
		width: 29px;
		}
.add-extra-row {
	margin: 4px -98px;
	}
.txt2 h5 {
	font-size: 25px;
	}
.item-wish-top{
		font-size: 16px !important;
		font-weight: normal !important;	
		padding-right: 6px !important;
		}
	
.fn-size20{
		font-size: 20px;
		}
		
.p-l-36{
	padding-left: 16px !important;
	}
	
.upfront-pkg-body {
		padding-left: 38px;
		padding-top: 53px;
		}
		
.feel-sec{
	    padding: 20px 22px !important;
		}
		
.head1 {
	height: 8px;
	font-size: 42px;
	}
	
.head2 {
	font-size: 59px;
	}

.pkg-msg h4 {
		font-size: 33px;
		width: 298px;
		}
		
.rmv-pkg{
		padding-right: 0px;
		text-decoration: underline;
		}
		
.p-l-0{
		padding-left: 0px;
	}

.p-r-0{
	padding-right: 0px;
	}
	
.upfront-head h5{
	font-size: 21px;
	}

.monthly-head h5{
	font-size: 21px;
	}

.fn-size12{
	font-size: 12px;
	}

.p-l-33{
padding-left: 33px !important;
	}

.btn-dropdown-white-uk .glyphicon{
	margin-top: -1px;
	}


}

				





@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) { /*Mobile portrait Layout*/
.basket-heading{
	margin-top:16px !important
	}
.p-r-56{
	 padding-right:56px
 }
 
 
.small-seprator{
	margin-top:15px !important
	}
	
.head2 {
	font-size: 46px !important;
	height: 26px !important;
	
	}
	
.pkg-msg h4{
	padding:15px 10px 0px 0px !important
	}
	
.p-1-10{
	padding-left:10px !important
	}

.menu-down-icon{
	position:relative;right:8px !important
	}
.m-top15{
	margin-top:-15px 
	}
	
.m-b-50{
	margin-bottom:50px !important
	}
.mob-view{font-size:24px;text-align:center}    
.m-t-15{margin-top:-15px !important}
.add-wish{
    position: relative;
    top: -48px;
    left: -132px;}
.m-t-30{margin-top:30px}
.ch-remove{
    left: 15px !important;
    position: relative;
}
.m-t-350{margin-top:2em;}
.m-t-10-{
	margin-top:-10px
	}
	
.text-cen{
	text-align:center !important
	}
.m-l-74{margin-left:74px;margin-top:-12px !important}
.m-t-23{
		margin-top:-23px !important
	}
.f-size30{font-size: 30px !important;margin-top: 0px !important}
.gb{position:relative !important;top:10px !important;}
/* .new-cost {margin-left:-50px !important} */
  
.m-t-15{margin-left:15px !important} 
.m-l-15px{
	margin-left:-14px !important;
	
}
.cost1{margin-left:-50px !important}  
.pkg-main-block h4 {
    text-align: center;
    font-size: 28px;
    margin-top: 22px;
}
.add-pk, .remove-pk,.remo-pk{
	text-align:center;
	} 
	
.add-pkg,.rmv-pkg{
	padding:15px 0 0 0;
	text-align:center
	}
	
.remove-pkg{
		margin-right:15px
	
}
	
.section-package .add-pkg, .section-package .rmv-pkg{
	float:none!important
	}
	
.phnimg{
	margin-top:3em;
	padding:0
	}
	
.phnimg img {
    margin: 0 auto;
    width: 50%;
}
.add-wish {
    top: 0px;
    left: 0;
}
.d-d-link{
	margin:0;
	text-align:center;
	margin-top:20px !important;
	}
.d-d-link .rmv-pkg{
	float:none!important;
	text-align:center;
	margin:0;
	}
.section-device-plan button span.glyphicon{
	margin-top:15px
	}
	
.upfront-block h5, .monthly-head  h5 {
    text-align: center;
    font-size: 22px;
    
}
.upfront-pkg-body {
    min-height: 150px;
    padding-top: 48px;
    padding-left: 22px;
    text-align: center;
}
.access-body, .upfront-body, .monthly-body {
    min-height: 150px;
    padding-top: 48px;
    padding-left: 0;
}
.plan-prod{
	padding-left:15px!important
	}

.brand-name {
    font-size: 21px;
	}
.product-name h4 {
    font-size: 23px;
	}
.all-plans {
    padding-left: 10px!important;
    padding-bottom: 40px!important;
	}
.all-plans p{
	font-size:15px;
	}
.b-t-1{
	border-top:1px solid #ccc;
	}
.extra-mont-cost{
	padding:0;
	}
	
.extra-mont-cost label{
	padding-right:20px;
	}
.extra-body {
    height: 200px;
}
.extra-info{
   
    margin-bottom: 15px;
}
.feel-sec h5{
	font-size:18px;
	}
	
.ext{ 
border-bottom: 1px solid #ccc;
}
.extra-opt {
    padding: 15px 0!important;
}
.sim-ext .btn{float:none}
.sim-ext .extra-opt {text-align:center}
.rmv-drpdwn {
    margin-top: 35px!important;
    padding-left: 20px!important;
}
.add-extra-row{
	margin:0px auto!important;
	}
.acc-img img{
	margin:0 auto!important;
	}
	
.txt1,.txt2{
	height:auto;
	}
	
.item-wish-top, .item-wish-top a{padding-top:0}
.wish-list{
	padding-top:30px;
	height:auto
	}
.sugg-head h5 {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.sug-img img {
    margin-top: 25px;
}
.opt-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.access-head h4 {
    padding-left: 0;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.delivery-content h5,span.d-date{font-size:15px}
.new-cost{margin-top:15px;margin:0}
.disc-btn-block {
    padding-top: 11px;
    padding-left: 0;
    margin: 0 auto;
    padding-bottom: 26px;
	text-align:center;
}
.disc-btn-block input{
	margin:0 auto;
	}
.section-device-description a{
	float:left;
	margin-left:30px;
	}
.section-device-plan button.btn {
    width: 50%;
    margin: 0 auto!important;
}
.b-b-d{
	border-bottom:0;
	}
	
.b-t-m{
	border-top:1px solid #ccc;
	}
.delivery-lower-block{
	padding:0;
	}
	
.section-accessories{
	border:1px solid #ccc;
	margin-bottom:5px;
	}
	
.section-suggestion{
	border:1px solid #ccc;
	margin-top:30px!important;	
	}
.sim-block .upfront-head {
    padding-top: 16px!important;
    display: inline-block;
    margin-top: 19px;
	border-bottom:1px solid #ccc;
}
.delivery-lower-block .sim-cost{float:none!important;text-align:center}
.view-btn {padding:10px 40px;}

}
@media (min-width: 412px) and (max-width: 732px) and (orientation: portrait) { 
.view-btn {margin-left:46px !important}
}
@media (max-width: 732px) and (min-width: 412px) and (orientation: landscape) { 
.view-btn {margin-left:145px !important}
}
@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {/*Mobile landscape Layout*/
.phnimg img {
    margin: 0 auto;
    width: 30%;
}

 .p-r-56{
	 padding-right:56px
 }
.section-device-description a {
    float: left!important;
    margin-left: 8em;
    margin-top: 1em;
    display: inline-block;
    margin-bottom: 1em;
}
.txt1, .txt2{text-align:center}

.section-accessories{
	border:1px solid #ccc;
	margin-bottom:5px;
	}
.section-suggestion{
	border:1px solid #ccc;
	margin-top:30px!important;	
	}
.view-btn {margin-left:119px; padding: 12px 77px;}
}
.sim-prod {padding-left: 15px !important;}
.sim-block .upfront-head {
    border-bottom: 1px solid #ccc;
}
.delivery-lower-block .sim-cost {
    float: none!important;
    text-align: center; margin-top:20px;
}




