@import url(helvetica-neue-lt-std-75-bold-58cfaaef0e1f6);
/*Style*/
body{font-family:"Helvetica Neue LT Std",Arial;font-size:12px;padding:0;margin:0}

/*START Banner Section*/
.banner-content{position:absolute;top:30px}
a.anch-label {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-top: 25px;
    display: block;
	text-decoration:none;
}

.banner-username label {
    color: #fff;
    font-size: 4em;
    display: block;
    margin-top: 35px;
}
.banner-username h2 {
    font-size: 8em;
    color: #fff;
    font-weight: bold;
    margin-top: 0;
}
.bannerSection img{width:100%;height:auto;display:block}
.editIcon{
font-size: 3em;
    color: #fff;
    vertical-align: bottom;
}
.header-mid{background:#fff}
input.emailsubscription {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
    width: 30em;
    margin-right: 10px;
    color: #000;
    padding-bottom: 12px;
    padding-left: 13px;
    font-size: 18px;
}
input.emailsubscription::-webkit-input-placeholder, input.emailsubscription::-moz-placeholder , input.emailsubscription:-ms-input-placeholder{color:#fff}
.btn-savestory{

    border-radius: 0;
    font-size: 24px;
    background-color: #225b38;
    border: 0;
    padding: 11px;
    opacity: 0.9;
  	color:#fff;
  	font-weight:normal;

}
.search-container{
    height: 120px;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 999;
}
.search span{
    font-size: 3em;
    color: #fff;
    font-weight: normal;
    vertical-align: bottom;
}
input.search-box {
    background: transparent;
    border: 0;
    border-bottom: 4px solid #fff;
    color: #fff;
    font-size: 16px;
	 width: 13em;
    padding: 5px;
	outline:none
}
input.search-box:hover,input.search-box:focus {outline:none}

.section-head {
    font-weight: bold;
    font-size: 4em;
    color: #000;
    margin-top: 1em;
    margin-bottom: 1em;
}
.divider {
    border-bottom: 2px solid #adadad;
    height: 4px;
    padding: 10px 0;
    margin: 34px 0;
}
.adv-plan h2 {
    font-size: 4em;
    font-stretch: extra-expanded;
    color: #000;
    margin-bottom: 14px;
}
.adv-plan label {
    clear: both;
    display: block;
    font-size: 2em;
    color: #000;
    font-weight: normal;
}
.adv-right {
    border: 2px solid #ccc;
    padding: 2em;
    text-align: center;
    font-weight: normal;
}
.bg-red{background:red}
.packages, .adv-plan{width:100%;clear:both}
.m-h-img{max-height:50.4em}
.img-txt {
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 0;
    text-align: left;
    padding-left: 30px;
}
.img-txt h2 {
    font-size: 6em;
    font-weight: bold;
}
.img-txt h3 {
    font-size: 4em;
}
.img-txt-right h2 {
    font-size: 4em;
}
.img-txt-right h3 {
    font-size: 2em;
}
.benefits{padding:3em 0 4em}
.benefits-txt label {
    font-size: 1.8em;
    font-weight: normal;
	word-wrap:break-word-spacing
}
.benefits-txt label strong{font-weight:bold;color:#000;}
footer {
    background: #000;
    margin-top: 2em;
    padding-top: 2em;
	color:#fff;
	padding-bottom: 4em;
}
.footer-top{
    margin-bottom: 4em;
    border-bottom: 2px solid #fff;
    padding-bottom: 4em;
	text-align:left
}
.footer-top label {
    font-size: 1.3em;
    font-weight: normal;
    margin-left: 8px;
    margin-top: 2px;
}
.footer-top .glyphicon{font-size:1.5em}
.search-footer {
    border: 0;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 16em;
	font-size:1.3em;
}

.footer-list li{
	list-style-type:none;
	display:block;
	text-align:left
}
.footer-list li a, .footer-list li a:hover {
    color: #fff;
    font-size: 1em;
}
.footer-list h4 {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    margin-left: 1.7em;
    border-bottom: 2px solid #fff;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.footer-list h4.last-head{margin-left:0}
.social-icons a{margin-right:30px}
.footer-divider {
    border-bottom: 2px solid #fff;
    margin-top: 3em;
    margin-bottom: 3em;
}
.f-s-17{font-size:17px; font-weight: normal;}
span.numspan {
    font-size: 24px;
	margin-top:-7px
}
.mobicon{margin-top: 0px;
    margin-right: 10px;}
.wifiicon{margin-top: 0px;
    margin-right: 10px;}



.logo h3 {color:#fff; font-size: 20px; margin: 0;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.headerbar {background-color:#000; height: 50px; display: none;}
.headerbar img {width: 7%; margin: 10px;}
.navbar-toggle .icon-bar {background-color: #fff;}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
	background:url("../../library/images/search-icon.png") no-repeat 9px center;
	border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #7e7e7e;
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
.headerbar input[type=search] {	width: 15px;padding-left: 10px;	color: transparent;	cursor: pointer;margin: 6px;}
.headerbar input[type=search]:hover {
	background-color: none;
}
.headerbar input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #7e7e7e;
	cursor: auto;
}
.headerbar input:-moz-placeholder {
	color: transparent;
}
.headerbar input::-webkit-input-placeholder {
	color: transparent;
}
.margin0-auto {margin: 0 auto;}
.cls-text h2 { margin: 10px 0 8px 0; }
.cls-text h3 {margin: 8px 0 8px 0;}

/*Comapre page HTML*/
.header-top {
    background: #000;
    min-height: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 10px;
}
.header-top .nav a{color:#fff!important;background:none!important}
.header-top .glyphicon{margin-right:10px}
.c-m .navbar{border:0;margin-bottom:0;background:#fff}
.c-m .navbar-toggle {
    border: 0;
    padding-right: 0px;
    margin-right: 0;
    color: #000;
}
.c-m  .icon-bar{color:#000;background-color:#000!important;}
.navTop li {
    list-style: none;
    float: left;
  
   
}
.navTop li>a{ font-size: 27px;
    font-weight: bold;
	margin:0 30px;
line-height:3em;
color:#030303	
	}
	.section-banner {
    background: #131312;
    padding-top: 20px;
}
.banner-txt{
    color: #fff;
    font-weight: bold;
    font-size: 5em;
	text-align:right;
}
span.undline {
    display: block;
    width: 120px;
    height: 4px;
    color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    margin: 23px 0;
    float: right;
    margin-right: 60px;
}
.section-breadcrumb ol.breadcrumb, .section-breadcrumb ol.breadcrumb li a {
    background: none;
    font-size: 18px;
    color: #0f0f0f;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 18px;
	padding-left:1px
}
.back-to-search{    color: #058750;
    font-size: 18px;
    padding-top: 18px;
    float: right;
    font-weight: 700;
    text-decoration: none;
}
.section-comparison .head_comp > div {
    font-size: 4em;
    text-align: center;
    color: #000;
    background: #fff;
    position: relative;
   float:left;
   width:100%;
}


.section-comparison .head_comp  > div .glyphicon{font-size:2em}
.selection-mob {
    padding-top: 20px;
    border: 1px solid #ccc;
    min-height: 205px;
}
.selection-mob h4 {
    color: #000;
    font-weight: normal;
    text-shadow: 0 0 1px #000;
	cursor:pointer;
}

.section-comparison  .head_comp .section-ad{background:#000;border:0}
.section-ad p {
    word-wrap: break-word;
    width: 230px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    text-align: center;
	margin:0 auto;
}
.section-ad h3 {
    color: #fff;
    font-weight: 700;
    font-size: 29px;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
	margin:0 auto;
}
.section-ad button.btn {
    border-radius: 0;
    background: #01864f;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 26px;
}


span.remove-column {
    position: absolute;
    font-size: 19px;
    color: #ccc;
    font-weight: normal;
    right: 14px;
    cursor: pointer;
	top:1px;
}
 .affix {
      top: 0;
      width: 100%;
	  z-index:99
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
.body_comp .tab-col, .mob-comp {background:#fbfbfb;}
.mob-comp {margin-bottom:0px}
.table-cost{border:0}
.body_comp .tab-col label, .mob-comp td , .table-cost td{
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    min-height: 39px;
    width: 130px;
    max-width: 130px;
    word-wrap: break-word;
	font-weight:normal;
	text-align:center;
	color:#8d8d8d;
	
}
.mob-comp td.title{text-align:left;color:#000}
.body_comp .spec .tab-col label{
	font-weight:normal;
	text-align:center;
	color:#8d8d8d;
}
.body_comp .spec .tab-col label.txt-green {
    color: #048750;
}
label.pay-txt {
    color: #000;
    font-size: 2.3em;
    font-weight: bold;
    text-shadow: 0px 0px 3px #ccc;
   
}
input[type="checkbox"].chk-pay {
    width: 24px;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 26px;
    cursor: pointer;
    float: left;
    margin-top: 6px!important;
    margin-right: 6px!important;
    display: inline;
    background-color: #fff;
}
.pay-bx {
    display: table;
    text-align: center;
    height: 150px;
    margin: 0 auto;
}
label.cost {
    font-size: 16px;
    color: #7e7e7e
	
}
.cost>strong {
    font-size: 3em;
    font-weight: bold;
    font-stretch: wider;
	color:#000
}
.cost>strong.title{font-size:1.7em}

.pay-bx-item {
    display: table-cell;
    vertical-align: middle;
  
}
.table-cost td.item-btn{border:0}
.pay-bx-item button.btn, .item-btn button {
    font-size: 18px;
    font-weight: bold;
    padding: 25px 0;
    background: #01864f;
    border: 0;
    border-radius: 0;
    width: 15em;
    text-align: center;
    text-shadow: 0px 0px 1px #01864f;
}
.pay-bx-item button.reverse-btn,.item-btn button.reverse-btn  {
    background-color: #fff;
    color: #01864f;
    border: 1px solid #01864f;
    box-shadow: 0px 0px 1px #01864f;
}
.m-h-66{min-height:66px!important}
.m-r-10m{margin-left:-83px!important}
 .b-0{border:0!important}
 .c-m .search-container {
    color: #000;
    top: 20px;
}
.c-m .search span {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
	margin-top:6px
}
.c-m input.search-box {
    border-bottom: 2px solid #000;
    margin-top: 3px;
    margin-left: -23px;
    padding-left: 34px;
    color: #000;
    padding-bottom: 1px;
}
input#searchInput::-webkit-input-placeholder, input#searchInput::-moz-placeholder , input#searchInput:-ms-input-placeholder{color:#000;}
/*Comapre page HTML*/
/*********START Mobile Page*/
.active-tick {
    background: #6be998;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 2px 1px 0px 4px;
    color: #fff;
    font-weight: normal;
    float: left;
	margin-top:9px
}
.active-tick .glyphicon{
    font-size: 10px;
    font-weight: normal;
}
.filters {
    border: 1px solid #ccc;
    height: 65px;
    display: table;
}
.filters .dropdown {
    display: table-cell;
    vertical-align: middle;
}
.filters button, .filters button:hover {
    border: 0;
    font-size: 1.6em;
    font-weight: bold;
    width: 80%;
    text-align: left;
	float:left;
	background:none;
}
.filters button .caret{margin-left:3em}
ul.comp-list {
    padding: 15px 0;
}
.comp-list li {
    list-style-type: none;
    font-size: 1.3em;
    line-height: 30px;
}
/*********END Mobile Page*/

@media only screen and (min-device-width: 320px) and (max-device-width: 570px){
.c-m .section-ad button.btn{width:78px!important}
.c-m .section-ad h3{font-size:13px}


}
@media (max-width: 767px) {/*mobile*/
  .logo {display: none;}
  .headerbar {display: block;}
  .search-container {display: none;}
  .banner-username label {margin-top: 0; font-size: 2em;}
  .banner-username h2 { font-size: 2.5em;}
  .banner-content {top:15px;}
  .m-t-2em {margin-top: 0 !important;}
  input.emailsubscription {width: 17em; font-size: 1em;}
  .editIcon {font-size: 2em;}
  .btn-savestory {margin-top: 8px; font-size: 14px; font-weight: bold;}
  .section-head {font-size: 2.25em;margin-bottom: 1em;}
  .cls-text h2 {font-size: 13px; font-weight: bold; margin: 10px 0 8px 0; }
  .cls-text h3 {font-size: 14px; margin: 8px 0 8px 0;}
  .img-txt {text-align: center;font-size: 0.5em;}
  .img-txt h3 {margin: 0;}
  .img-txt h2 {margin: 0;}
  .adv-right {margin-top: 10px;}
  .adv-plan h2 {font-size: 2em; margin: 0;}
  .adv-plan label {font-size: 1.45em;}
  .img-margin {margin: 20px 0;}
  .benefits-txt label {font-size: 1.6em;color: #999;}
  .search-footer {width: 15em;}
  .footer-list h4 {margin-left: 0; text-align: center;}
  .footer-top {border: none;}
  .content-align ul {padding: 0; text-align: center;}
  .content-align ul li {text-align: center;}
  .social-icons {margin-left: 95px;}
/*Compare Page*/
	.section-ad button.btn {
    padding: 8px 13px;
    font-size: 15px;
    width: 88px;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}
	.navTop li>a {
    font-size: 20px;
    margin: 0 13px;
    line-height: 0;
   
}
.banner-txt {
    font-size: 3em;
   
}
span.undline{
    width: 3em;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 2px;
    margin-right: 23px;
}
.section-breadcrumb ol.breadcrumb, .section-breadcrumb ol.breadcrumb li a,.back-to-search{font-size:13px}
.body_comp .tab-col label, .mob-comp td{font-size:1em;width:118px}
.mob-comp td:nth-child(4), .table-cost td:nth-child(4){display:none}
.section-ad h3 {
    width: 86px;
    font-size: 22px;
}
.p-xs-0{padding:0}
.navbar-brand img{width:35px;float:left}
.navbar-brand label {
    color: #000;
    float: left;
    margin-top: 14px;
    margin-left: 12px;
}
.selection-mob .glyphicon img {
    width: 40px;
    margin-top: 22px;
    vertical-align: top;
}
.selection-mob h4{font-size:15px}

.cost>strong{font-size:2em}
.cost>strong.title {
    font-size: 1.2em;
    margin-left: 20px;
    float: left;
}
.pay-bx{height:100px}
.w-10p{width:10%!important}
.w-80p{width:80%!important}
.m-t-25m{margin-top:-25px}
.item-btn button {
    padding: 9px;
    width: auto;
    color: #fff;
    margin-bottom: 12px;
    font-size: 15px;
}
.c-m .search span{color:#000}
/*Compare Page*/
}

/*START Media Queries*/

/*Iphone potrait and landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 800px) {
/*.banner-content{left:13em}
 .search{margin-right:-12em}*/

.input.search-box{width:14em}
.m-h-img { max-height: 100%;}
.footer-top label, .footer-list h4, .footer-list li a, .footer-list li a:hover{font-size:2em;text-align:center} .footer-list li{text-align:center}
.footer-top{text-align:center;}
.benefits-txt label, .f-s-17{font-size:3em}
.img-txt-right h3{font-size:4em}
.footer-list h4{margin-left:1em}
.search-footer-icon{margin-top:7em}
.footer-top .glyphicon{font-size:2em}
.search-footer{width:19em;font-size:2em;}
.c-m .search-footer{width:13em;font-size:2em;}
.banner-username h2{font-size:6em;margin-top:5px}
.banner-username label{margin-top:12px}
.email-sub.m-t-2em{margin-top:0!important}
input.emailsubscription{width:20em}
.section-head{margin-bottom:2em}
.last-head{display:none}

/*Search Animation*/
.search {
    position: relative;
    width: 80px;
    transition: all .5s ease;
    overflow: hidden;
    height: 58px;
    text-align: center;

}
.search:hover{width:19em}
/*Search Animation*/
input.search-box{margin-top:13px}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) { /*IPAD*/
.navTop li>a{margin:0 14px}
.mob-comp td:nth-child(4), .table-cost td:nth-child(4){display:none}
.section-ad p{width:216px}
.section-ad button.btn{padding:8px 10px}
.item-btn button{width:11em}
.c-m .search-container {height:38px;overflow:hidden}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1199px) {
.m-h-img { max-height: 38em;}
.banner-username h2{font-size:6em;margin-top:5px}
.banner-username label{margin-top:12px}
.email-sub.m-t-2em{margin-top:0!important}
/*Search Animation*/
.search {
    position: relative;
    width: 60px;
    transition: all .5s ease;
    overflow: hidden;
    height: 58px;
	text-align:center;
	
}
.c-m .search-container {height:38px;overflow:hidden}
input.search-box{margin-top:13px}
.search:hover{width:25em}
.c-m .search:hover{width:19em}
.c-m .search span{font-size:28px;margin-top:1px}
.item-btn button{width:11em}
.section-ad p{width:210px}
.section-ad button.btn{padding:8px 10px}
/*Search Animation*/

}
.section-head{margin-bottom:2em}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1350px) {
.m-h-img { max-height: 38.5em;}
}
@media only screen and (min-device-width: 1365px) and (max-device-width: 1919px) {
.m-h-img { max-height: 600px;}
}
@media only screen and (min-device-width: 1920px) and (max-device-width: 3000px) {
.m-h-img { max-height: 60em;}
}
/*END Banner Section*/
/*CSS Addons*/
.m-0{margin:0!important}
.m-15m{margin:0 -15px}
.m-t-1em{margin-top:1em!important}
.m-t-2em{margin-top:2em!important}
.m-t-6em{margin-top:6em!important}
.m-t-10{margin-top:10px}
.m-r-10{margin-right:10px}
.m-l-5em{margin-left:5em}
.p-0{padding:0!important}
.p-rel{position:relative!important}
.p-tb-40{padding:0}
.p-r-0{padding-right:0!important}
.p-l-0{padding-left:0!important}
.p-t-15{padding-top:15px}
.h-full{height:100%}
.o-hidden{overflow:hidden}
.m-t-8{margin-top:8px}
.bg-black{background:#040203}
.b-l-r{border-right:1px solid #ccc;border-left:1px solid #ccc}






