.mark {
  background: none;
  font-size: 12px;
  padding: 12px 0;
}

.display-flex {
  display: flex;
}

.pl10 {
  padding-left: 10px;
}

.pl23 {
  padding-left: 23px;
}

.pl30 {
  padding-left: 30px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pl80 {
  padding-left: 80px;
}

.pl115 {
  padding-left: 115px;
}

#summary a {
  color: #333;
  text-decoration: none;
}

.features {
  margin-top: 5em;
}

features span {
  font-size: 80px;
}

.features p {
  font-weight: bold;
}

.mid-feature {
  margin-left: 7em;
  margin-right: 7em;
}

#product-page a.check-credit {
  font-size: 14px;
  position: relative;
  text-decoration: none;
  top: 5px;
}

#product-page a.nearest-page {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

#Accessories div.btn-group {
  display: flex;
  justify-content: center;
}

.carousel-control {
  padding-top: 10%;
  width: 5%;
}

.fsize13 {
  font-size: 13px;
}

.font-weight-900 {
  font-weight: 900;
}

.padding15 {
  padding: 15px;
}

.padding5 {
  padding: 5px;
}

.canvas-circle,.canvas-circle1 {
  float: right;
  position: relative;
  top: -26px;
}

.fontsize24 {
  font-size: 24px;
}

.w25p {
  width: 25%;
}

.mob-cost {
  margin-top: 20px;
}
.mob-cost h3 {font-stretch: condensed;}
.mob-cost p, .mob-cost h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.mob-sel {
  margin-top: 4em;
  margin-bottom: 2em;
  padding-left: 5em;
}




.btn-phn, .btn-phn:hover {
  font-weight: bold; 
  border-bottom: 2px solid #808487;
      margin-bottom: 0;
    padding: 0;
    margin-top: 15px;
}

.btn-phn:hover {
  color: #808487;
}
/**Accordion*/
.panel-title {
  font-size: 24px;
  padding: 6px 10px;
}



.panel-heading {
  background-color: #ebeff2;
  font-size: 24px;
  padding: 17px 15px;
}
.panel-title a,.panel-title a:hover,.panel-title a:focus{text-decoration:none!important}
.panel-default > .panel-heading:hover{cursor:pointer;background-color:#00857b;color:#fff}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 0!important;
}
.tech-specifications { border-bottom: 1px solid #e7e7e7;}
.mob-hero { 
 
  border-top: 1px solid #e7e7e7;
  padding: 5em 0 5.3em 0;
  text-align: center;
}
.tech-specifications .panel-group{margin-bottom:0}
.section-accessories {
  padding: 5em 0 5em 0;
}
.mob-hero { 
 
  border-top: 1px solid #e7e7e7;
  padding: 5em 0 5.3em 0;
  text-align: center;
}
label.d-a {
  font-size: 24px;
  margin-right: 18px;
}

label.d-a.disabled {
  font-weight: normal;
  color: #ccc;
}

.section-accessories .left, .section-accessories .right {
  background: none;
  font-size: 50px;
  color: #000;
}

.section-ad { 
  background: #d0d0d0;
  padding-top: 5em;
  position: relative;
}

.p-add {
  color: #000;
  margin-top: 0px;
}

.user-review p {
  font-size: 20px;
  font-weight: normal;
  margin: 2em auto;
  text-align: center;
  width: 65%;
}

.section-review {
  border-bottom: 1px solid #e8e8e8;
}

.user-review p a.viewall {
  color: #000;
  font-weight: bold;
}
/*.device img{margin:0 auto}
.device-name h4{font-weight:bold;margin-top:0}
.device-name h5{font-weight:normal;font-size:26px;margin-bottom:0}
.star-rating span{color:#008176;font-size:21px}
*Accordion*/
/*css Addons*/
.m-auto {
  margin: 0 auto;
}

.m-t-2em {
  margin-top: 2em;
}

.m-t-3em {
  margin-top: 3em;
}

.m-b-2em {
  margin-bottom: 2em;
}

.m-t-5em {
  margin-top: 5em;
}

.p-t-5em {
  padding-top: 5em;
}

.w-52p {
  width: 52%;
}

.nav-ff {
  border-bottom: none;
}
/*Common css classes for mobiles and Ipad*/

@media screen and (max-width: 1023px) and (min-width: 300px) {
	
	#summary{margin-top:1em!important}
	.section-accessories,.mob-hero{padding-top:1em!important}
	.features,.reviews,.mob-sel{margin-top:2em!important}
	.features,.tech-specifications,.user-review p, .star-rating.m-t-3em{margin-top:1em!important}
	.features p{font-size:16px;padding-bottom:20px}
	.features img{width:65px}
	.mob-hero img{width:80%;margin-left:10%}
	.panel-title{font-size:18px}
	
}
@media screen and (max-width: 735px) and (min-width: 310px) {
  .text-center-mobile {
    text-align: center;
  }

  .fsize14-mobile {
    font-size: 14px;
  }
}


@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: portrait) {
/*Mobile Portrait Layout*/

  .mid-feature {
  margin-left: 0;
  margin-right: 0;
 }
  .mob-sel {
    padding-left: 1em;
  }
  
  .mob-cost p {
    font-size: 18px;
  }

  .mob-cost h3 {
    font-size: 40px;
  }

  .w-52p, .user-review p {
    width: 100%;
  }
  .carousel-control{padding-top:34%}
  .carousel-control.right{padding-right:10%}
  .carousel-control.left{padding-left:10%}
}

@media screen and (max-width: 735px) and (min-width: 310px) and (orientation: landscape) {
/*Mobile landscape Layout*/
.mob-hero img {
    width: 40%;
    margin: 0 auto;
}
.mob-hero{padding-bottom:1em!important}
.mob-sel .btn-phn, .f-sm-0{margin-left:25%!important;width:50%}

  .mid-feature {
	margin-left: 0;
    margin-right: 0;
    }
  .mob-sel {
    padding-left: 1em;
  }

  .mob-cost p {
    font-size: 18px;
  }

  .mob-cost h3 {
    font-size: 40px;
  }

  .w-52p, .user-review p {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: portrait) {
/*IPAD Portrait Layout*/
  .mob-sel {
    margin-left: 10em;
  }
  .mob-hero{padding-bottom:1em!important}


  .f-sm-0 {
    float: none!important;
  }

  .m-sm-auto {
    margin: 0 auto;
  }

  .mid-feature {
	margin-left: 10em;
    margin-right: 7em;
    
  }

  .panel-title {
    font-size: 20px;
    padding: 0px 10px;
  }

  .panel-heading {
    padding: 16px 15px;
  }

  .mob-hero {
    padding-bottom: 5em;
  }

  .device-price, .device-price>div {
    padding: 0;
  }

  .device-name h5 {
    font-size: 25px;
  }

  .d-type {
	display: block;
    font-size: 12px;
    margin-right: 8px;  
  }

  .d-price {
    font-size: 28px;
    margin-left: 12px;
  }

  .txt-choice {
    margin-top: 2em;
  }

  .mob-cost h3 {
    font-size: 3em;
  }
  .device img {
 
    width: 75%;
}
.star-rating span{font-size:16px}
.device-name h5{font-size:18px}
.device-name h4{font-size:26px}

  .mob-cost h3 small {
    font-size: 21px;
    font-weight: bold;
    color: #000;
  }
}

@media screen and (max-width: 1024px) and (min-width: 736px) and (orientation: landscape) {
/*IPAD landscape Layout*/
  .mob-sel {
    margin-left: 18em;
  }
.mob-sel .btn-phn{font-size:20px; font-weight:normal;    margin-left: 15%!important;}
.mob-sel ul.dropdown-menu{margin-left: 22%}
  .mid-feature {
	margin-left: 5em;
    margin-right: 5em;  
  }
 
  .panel-title {
    font-size: 20px;
    padding: 4px 10px;
  }

  .panel-heading {
    padding: 16px 15px;
  }

  .mob-hero {
    padding-bottom: 5em;
  }

  .device-price, .device-price>div {
    padding: 0;
  }

  .device-name h5 {
    font-size: 25px;
  }

  .d-type {
    font-size: 12px;
    margin-right: 8px;
  }

  .d-price {
    font-size: 28px;
    margin-left: 12px;
  }

  .txt-choice {
    margin-top: 2em;
  }

  .mob-cost h3 {
    font-size: 3em;
  }

  .mob-cost h3 small {
    font-size: 21px;
    font-weight: bold;
    color: #000;
  }
  #summary{margin-top:1em!important}
	.section-accessories,.mob-hero{padding-top:1em!important}
	.features,.reviews,.mob-sel{margin-top:2em!important}
	.features,.tech-specifications,.user-review p, .star-rating.m-t-3em{margin-top:1em!important}
	.features p{font-size:16px;padding-bottom:20px}
	.features img{width:65px}
	.mob-hero img{width:80%;margin-left:10%}
	.panel-title{font-size:18px}
	.mob-cost{width:30%;padding-left:0}
	.mob-cost p{font-size:16px;text-align:left}
	.mob-cost h3 {
    font-size: 3em;
    text-align: left;
    margin-left: 23px;
}
.section-ad .col-sm-7 img{width:75%}
	
}
